streamlit
openai
chromadb
tiktoken
langchain
python-dotenv
requests
beautifulsoup4
markdownify
unstructured[all]
sentence-transformers
pymupdf
pymupdf4llm
watchdog
fastapi
uvicorn[standard]
sqlalchemy
psutil
plotly
umap-learn
pandas
pydantic
pyvis==0.3.2
scikit-learn==1.5.0

