streamlit
openai
chromadb
tiktoken
langchain
langchain-text-splitters
python-dotenv
requests
beautifulsoup4
markdownify
feedparser
unstructured[all]
sentence-transformers
pymupdf
pymupdf4llm
watchdog
fastapi
uvicorn[standard]
sqlalchemy
psutil
plotly
umap-learn
pandas
pydantic
pyvis==0.3.2
scikit-learn
backoff
streamlit-agraph
pyyaml

